/* OVERALL */ 
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }
  
  section {
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 50px;
      padding-right: 50px;
  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Brandon, sans-serif;
    color: #fff;
    font-size: 56px;
    line-height: 44px;
    font-weight: 700;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Brandon, sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
  }
  
  p {
    margin-bottom: 20px;
    font-family: Brandon, sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 30px;
  }
  
  a {
    -webkit-transition: border-color 200ms ease, color 200ms ease;
    transition: border-color 200ms ease, color 200ms ease;
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    border-bottom-color: #1d2330;
    color: #1d2330;
  }
  
  a:focus {
    border-bottom-color: #1d2330;
    color: #1d2330;
  }
  
  .content {
    margin-top: 60px;
  }
  
  .section-name {
      text-align: center;
      color: rgb(51,51,51);
      font-family: brandon, helvetic, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
    }
  
  .body {
    margin: 0;
  }
  
  /* HEADER */
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://scontent.fykz1-2.fna.fbcdn.net/v/t1.15752-9/s2048x2048/72987660_994059910944149_2406752260810866688_n.jpg?_nc_cat=110&_nc_oc=AQkL-6K4Zg_pV2o44_fK_v01LSkFSPyB-XEFOGelin7GOTiAtOQbG2CeplNO93J7GwbTXwtyaAoYJqX0spKsHpwc&_nc_ht=scontent.fykz1-2.fna&oh=8f6be7347af121f44f94eddb39359491&oe=5E581C54");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .social-icon {
      /*
    margin-top: 60px;
    */
    padding-right: 25px;
    align-content: center;
    border-bottom: 0px none #000;
    display: inline;
  }
  
  .me i {
    align-content: center;
    border-bottom: 0px none #000;
    display: inline;
    font-size:30px;
  }
  
  .me {
    /* Sizing and images */ 
    width: 100wh;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://scontent.fykz1-2.fna.fbcdn.net/v/t1.15752-9/s2048x2048/72987660_994059910944149_2406752260810866688_n.jpg?_nc_cat=110&_nc_oc=AQkL-6K4Zg_pV2o44_fK_v01LSkFSPyB-XEFOGelin7GOTiAtOQbG2CeplNO93J7GwbTXwtyaAoYJqX0spKsHpwc&_nc_ht=scontent.fykz1-2.fna&oh=8f6be7347af121f44f94eddb39359491&oe=5E581C54");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
  
  }
  
  .position {
      margin-top: 20px;
      margin-bottom: 10px;
      font-family: Brandon, sans-serif;
      color: #fff;
      font-size: 22px;
      line-height: 36px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
    }
  
  /* ABOUT ME */
  .about {
    background-color: lightgrey;
    font-family: brandon, helvetic, sans-serif;
  }
  
  .about p, h2 {
    color:  #1d2330;
  }
  
  .about h2 {
    text-align: center;
  }
  
  .about h3 {
    font-family: 'Sofia';
    font-size: 22px;
    text-align: center;
  }
  
  .personal-pic img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  .about h3 {
    text-align: center;
  }
  
  .first-row, .second-row {
    margin: 0 auto;
    width: 100wh;
  }
  
  .personal-pic{
    float: left;
    width: 25wh; 
    height: 300px;
    margin-right: 50px;
  }
  
  .intro {
    width: 75wh;
    height: 300px;
    margin-left: 200px;
  }
  
  .col-2-1 {
    float: left;
    width: 50wh;
    height: 300px;
    margin-right: 50px;
  }
  
  .col-2-2 {
    width: 50wh;
    height: 300px;
    margin-left: 200px;
  }
  
  .third-row h3 {
    text-align: center;
  }
  
  /* EXPERIENCE */ 
  .experience {
    background-color: white;
  }
  
  .experience h2 {
    text-align: center;
  }
  
  
  .exp-list {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 100px 0;
    display: flex;
  }
  
  .first-div {
    display:inline-block;
    vertical-align: middle;
    padding-right:12px;
    float: left;
    padding-left: 30px;
  }
  
   .logo {
     display: inline-block;
     vertical-align: middle;
     height: 200px;;
     width: 235px;
     border-radius: 12px;
     margin-right: 20px;
    }
  
  .text {
    font-size: 24px;
    color: navy;
   /* display: inline; */
    float: left;
    width: 1000px;
    height: 200px;
  }
  /* Position Details */
  
  
  .title {
    color: rgb(51, 119, 204);
    margin: 0px;
    line-height: 34.8px;
    font-family: brandon, helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
  }
  
  .job {
    color: #5e9516;
    size: 10;
    margin: 0px;
    line-height: 23.2px;
    font-size: 16px;
    font-family: roboto, helvetica, sans-serif;
    font-weight: 700;
  }
  
  .location {
    color: black;
    font-family: robot, helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 21.75px;
    margin: 0px; 
  }
  
  .text u1 {
    font-size: 20px;
    color: rgb(80,85,92);
    line-height: 21.75px;
    font-family: roboto, helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0.5;
    width: 700px;
    word-break: keep-all;
  }
  
  .description {
    font-size: 20px;
    color: rgb(80,85,92);
    line-height: 21.75px;
    font-family: roboto, helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0.5;
    width: 700px;
    word-break: keep-all;  
  }
  
  /* Education and Skills */
  
  .skills {
    background-color: #262940;
    color: white; 
    font-family: roboto, helvetica, sans-serif;
    width: auto;
    height: auto; 
    overflow: auto;
  }
  
  
  .skills img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  
  .box1, .box2, .box3 {
    font-size: 16px;
    width: 30%;
    float: left;
    border:  1px solid white;
    border-radius: 20px;
    min-height: 450px;
    margin: 5px;
    text-align: center;
    padding: 10px;
    display: inline;
  }
  .skills h3 {
      text-align: center;
      }
      
  .skills p {
    font-size: 12px;
    text-align: left;
  }
  
  .skills .fas {
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    border-radius: 50%;
    color: #262940;
    text-align: center; 
    margin-top: 10px;
    background-color: white;
  }
  
  .skills u1, p {
      text-align: left;
      font-family: roboto, helvetica, sans-serif;
      font-size: 14px;
  }
  
  .course p { 
    text-align: left;
    font-family: roboto, helvetica, sans-serif;
    font-size: 14px;
  }
  
  /* Hobbies 
  div.gallery {
    margin: 0 0 50px 0;
    float: left;
    width: 150px;
    width: 150px;
    border-radius: 12px;
    margin-right: 2px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 150px;
    height: 150px;
    border-radius: 12px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  div.section-act {
    margin-bottom: 345px;
  }
  
  */